header {
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Alineación horizontal de elementos */
    justify-content: space-between; /* Distribuye logo y menú */
    margin: 52px 35px 0 52px; /* Margen de 52px arriba, derecha e izquierda */
}

#nombre {
    margin: 0 0 2px -1px; 
    color: black;
    font-size: 46.8px;
}

#cargo {
    color: #777777;
    font-size: 26px;
    margin: 0; /* Elimina márgenes adicionales */
}

#logo {
    flex-direction: column; /* Nombre y cargo uno debajo del otro */
}

nav ul {
    display: flex;
    list-style: none; /* Sin viñetas */
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 19px; /* Espaciado horizontal */
    font-size: 20.8px;
    font-weight: bold;
}

nav ul li a { /* a: enlace*/
    color: black;
}

#bio {
    font-size: 19.5px;
    margin: 65px 78px 0 78px;
}

p { /*Replicar esta fuente para todos los parrafos*/
    font-family: 'Open Sans', sans-serif;
}


