header {
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Alineación horizontal de elementos */
    justify-content: space-between; /* Distribuye logo y menú */
    margin: 52px 35px 0 52px; /* Margen de 52px arriba, derecha e izquierda */
}

#nombre {
    margin: 0 0 2px -1px; 
    color: black;
    font-size: 46.8px;
}

#cargo {
    color: #777777;
    font-size: 26px;
    margin: 0; /* Elimina márgenes adicionales */
}

#logo {
    flex-direction: column; /* Nombre y cargo uno debajo del otro */
}

nav ul {
    display: flex;
    list-style: none; /* Sin viñetas */
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 19px; /* Espaciado horizontal */
    font-size: 20.8px;
    font-weight: bold;
}

nav ul li a { /* a: enlace*/
    color: black;
}

#bio {
    font-size: 19.5px;
    margin-top: 65px;
}

p { /*Replicar esta fuente para todos los parrafos*/
    font-family: 'Open Sans', sans-serif;
}

.section {
   margin: 0 78px 52px 78px;
}

/* Sección de Habilidades Técnicas */
#habilidades-tecnicas {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#habilidades-tecnicas h2 {
    font-size: 31.2px;
    margin-bottom: 39px;
    color: black;
}

#skills-grid {
    display: flex;
    justify-content: space-between; /* Espaciado entre columnas */
    margin: 0 auto;
    max-width: 800px; /* Ancho máximo del contenedor */
}

.skills-column {
    display: flex;
    flex-direction: column; /* Alinea las habilidades en vertical */
    align-items: center;
    gap: 26px; /* Espaciado entre habilidades */
}

.skill-item {
    background-color: #f0f0f0; /* Fondo gris */
    color: #333333;
    font-size: 19.5px;
    padding: 5px 10.4px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

* {
    box-sizing: border-box;
}